/* CSS of the tasks management views + body */
body {
    font-family: sans-serif;
    background-color: #fff;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

#login-buttons {
    display: block;
    background-color: rgb(63,81,181);
    color: rgba(255,255,255,0.87);
    padding: 10px 16px;
}

#login-buttons a{
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

form {
    margin-top: 10px;
    margin-bottom: -20px;
    position: relative;
}

.new-task md-input-container {
    box-sizing: border-box;
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1em;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.new-task input:focus{
    outline: 0;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

md-list-item .flex {
    margin-left: 10px;
}

md-list-item.checked {
    color: #888;
}

md-list-item.checked .flex {
    text-decoration: line-through;
}

md-list-item.private {
    background: #eee;
    border-color: #ddd;
}

.toggle-private {
    margin-left: 5px;
}
